<!-- <div class="container">
  <form [formGroup]="RegistrationForm">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <label class="col-md-3" for="name">Name</label>
          <input
            class="col-md-9"
            type="text"
            id="name"
            formControlName="name"
          />
        </div>
        <div class="row mt-2" >
          <label class="col-md-3" for="empId">EmpId</label>
          <input
            class="col-md-9"
            type="text"
            name="empId"
            id="empId"
            formControlName="empId"
          />
        </div>
        <div class="row mt-2">
            <label class="col-md-3" for="message">message</label>
            <textarea
              class="col-md-9"
              type='textarea'           
              id="message"
              formControlName="message"
              rows="5"
            >
           </textarea>
          </div>
        <div class="row mt-2">
          <div class="col-md-3">
            <label for="">gender</label>
          </div>

          <div class="col-md-9">
            <label for="male">Male</label>
            <input
              type="radio"
              id="male"
              name="radioButton"
              formControlName="radioButton"
              value="1"
              checked
            />
            <label for="female">Female</label>
            <input
              type="radio"
              id="female"
              name="radioButton"
              formControlName="radioButton"
              value="2"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-3">
            <label for="checkbox">Agree</label>
          </div>
          <div class="col-md-9">
            <input type="checkbox" id="checkbox" formControlName="checkbox" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button type="submit" (click)="submitForm()">Submit</button>
  </div>
</div> -->

<div class="container">
  <form [formGroup]="formWithFile">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" />
    <label for="email">Email</label>
    <input type="text" formControlName="email" id="email" />
    <label for="password">Password</label>
    <input type="text" formControlName="password" id="password" />
    <!-- <label for="resume">Resume</label>
       <input type="file" formControlName="resume" id='resume' accept=".pdf, .txt" (change)="uploadFile($event)"> -->
    <button type="button" (click)="submiteFormWithFile()">Submit</button>
  </form>
</div>
