<!-- <h5>hey!!</h5> -->

<!-- <app-test-logics [nameFromParentComp]="myName" (childDataRefVar)="dataReceived($event)"></app-test-logics>

<h1>name: {{dataFromChild}}</h1>

<h2>{{addr}}</h2> -->
<!-- <app-test-logics></app-test-logics>
<button (click)="getDataFromService()">get data from service</button>
<h1>{{DataFromSer}}</h1> -->
<!-- <app-test-logics></app-test-logics> -->
<!-- <button (click)="sendMessage()">click to send message</button>
<p>{{currentTime}}</p>
<button (click)="makeRequest()"  class="btn btn-primary">make Request</button> -->

<!-- <div>click me</div> -->


<router-outlet></router-outlet>

<!-- <button (click)="goToMyCompo()">go to my component</button>
<button (click)="goToTestLogic()">to test logic component</button>

<router-outlet name='testLogic'></router-outlet>
<router-outlet name="myComponent"></router-outlet> -->
