<!-- .............................................................................. -->
<div class="container">
  <table class="table table-bordered">
    <!-- <thead>
      <tr>
        <th>a</th>
        <th>b</th>
        <th>c</th>
      </tr>
    </thead> -->
    <tbody>
      <tr >
        <td colspan="3" class="text-center font-weight-bold">value1</td>
        <!-- <td>value2</td>
        <td>value3</td> -->
      </tr>
      <tr>
        <td>value4</td>
        <td>value5</td>
        <td>value5</td>
      </tr>
      <tr >
        <td colspan="2" rowspan="2" class="text-center align-content-center font-weight-bold">value7</td>
        <td>value8</td>
        <!-- <td>value9</td> -->
      </tr>
      <tr>
        <td colspan="2">value10</td>
        <!-- <td>value11</td> -->
        <!-- <td>value12</td> -->
      </tr>
      <tr>
        <td>value13</td>
        <td>value14</td>
        <td>value15</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ...................................................................................... -->