

.container{
    height: 300px;
    width: 500px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid black;
}
/* .table{
    margin-top: 50px;
} */

/* tr, th, td{
    border: 1px solid black;
} */