<!-- <p>test-logics works!</p> -->
<!-- <button (click)="gotoMycompo()">go to myCompo</button> -->
<!-- <input type="text" [(ngModel)]="nameFromParentComp" placeholder="enter name" />
<p>Your name is: {{ nameFromParentComp}}</p>

<button (click)="changeName()">Change Name</button> -->
<!-- <button (click)="setDataInService()">set data in Service</button> -->

<!-- <h1>{{msgFromParent}}</h1> -->

<!-- <button (click)="loadLazyModue()">load lazy module</button> -->
<!-- <button (click)="addPost()">Add post</button>
<button (click)="goToPractice1()">goToPractice1</button>
<button (click)="goToPracticeForm()">Register</button>
<button (click)="goToLogin()">Login</button>
<button (click)="showTheTodoList()">Show the todolist using Resolver</button>

<button (click)="getStudents()">get students</button>
<button (click)="gotoCheckCanDeactivateCompo()">check canDeactivate</button> -->

<!-- <button (click)=" gotoProgress()">go to progress bar comp</button> -->

<button (click)="goToPractice4()">Go to Practice4</button>

<!-- <table class="table">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Id</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of dataset">
        <td>{{post.userId}}</td>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
    </tr>
  </tbody>
</table> -->


<!-- <div class="data-list">
  <table class="table">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Id</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of visibleItems">
        <td>{{ post.userId }}</td>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">
    Next
  </button>
</div>

<div class="page-navigation">
  <span>Go to page:</span>
  <input
    type="number"
    min="1"
    max="{{ totalPages }}"
    [(ngModel)]="currentPage"
    (change)="goToPage($event.target.value)"
  />
  <button (click)="goToPage(currentPage)">Go</button>
</div>
</div> -->
<!-- <div #myDiv>this is div content</div> -->

<!-- <div>
    <p>this is paragraph</p>
    <script>
    console.log('inside script');
    alert("this might be sanitized!")</script>
</div> -->

<!-- <app-create-post #create></app-create-post>
<p>{{create.demoMethod()}}</p> -->

<!-- <app-create-post></app-create-post> -->

<!-- <p #exampleRef>this is paragraph from parent component</p> -->

<!-- using @ViewChildren -->
<!-- <div #exampleElement>Element 1</div>
<div #exampleElement>Element 2</div>
<div #exampleElement>Element 3</div> -->

<!-- <app-create-post></app-create-post>
<app-create-post></app-create-post>
<app-create-post></app-create-post> -->

<!-- <div #parentElement>
  <p #nestedElement1>First nested element</p>
  <p #nestedElement2>Second nested element</p>
</div> -->

<p>{{ receivedMsg }}</p>

<!-- <app-create-post [inputVar]="inputValue"></app-create-post> -->

<!-- <app-create-post (outputVar)="showVal($event)"></app-create-post> -->
