<!-- <ul>
    <li *ngFor="let item of mergeValue">{{item}}</li>
</ul> -->


<!-- <p>this is paragraph</p>
<h1>this is heading</h1> -->
<!-- <button (click)="changeOriginalVal()">change Orginal Value</button>
<h1> {{originalVal | multiply: 3}}</h1> -->

<!-- 
<button (click)="setValue()">Set Values</button>

<button (click)="getValue()">get value</button>

<div *ngIf="data">
    <p *ngFor="let val of data">{{val }}</p>
</div> -->

<!-- <p appHighlight>
    this is paragraph, hover the mouse to see the effect.
</p> -->


